.cart-footer-wrapper {
    border-color: #e3e3e3;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    margin: 0;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #eee;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.footer-subtotal{
    
}