.checkout-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.checkout-window{
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 500px;
    max-width: calc(100% - 20px);
    background-color: white;
    z-index: 5147483640;
    border-left: 1px solid #ccc;
    transition: right 0.25s ease-in-out;
}

.checkout-show {
    right: 0;
}

.checkout-header {
    display: flex;
    align-items: center;
    height: 25px;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    flex: 0 0 auto;
    position: relative;
    margin: 0;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #eee;
    background: #fff;
    padding: 10px 20px;
}
