.cart-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.cart-icon {
    cursor: pointer;
}

.cart-window {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 500px;
    max-width: calc(100% - 20px);
    overflow: hidden;
    background-color: white;
    z-index: 2147483638;
    border-left: 1px solid #ccc;
    transition: right 0.25s ease-in-out;
}

.cart-show {
    right: 0;
}

.cart-header {
    display: flex;
    align-items: center;
    height: 25px;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    position: relative;
    margin: 0;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #eee;
    background: #fff;
    padding: 10px 20px;
}

.session-links {
    display: flex;
    align-items: center;
    padding: 8px;
    white-space: nowrap;
}

.side-cart-head-title {
    margin-left: 20px;
    text-align: center;
    flex-grow: 1;
    font-size: 18px;
    font-weight: 800;
    color: black;
    box-sizing: border-box;
}

.cart-exit-button {
    display: flex;
    align-items: center;
}

.close-icon {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 500px;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2147483637;
    display: none;
}

.overlay.show {
    display: block;
}

.cart-empty-message {
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 20px;
    margin-left: 25px;
    box-sizing: border-box;
}

.cart-login-message {
    box-sizing: border-box;
}

.cart-flyout-announcement {
    box-sizing: border-box;
    color: #232323;
    background-color: #eeeeee;
    padding: 5px 20px;
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 1s ease-in-out;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
}

.account-links {
    background: #f0f0f0;
    color: #494949;
    display: block;
    font-size: 0.8em !important;
    padding: 0 0 10px;
    text-align: center;
}

.flyout-empty-cart-msg {
    margin: 0;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #eee;
    padding: 40px 20px;
    width: 100%;
    box-sizing: border-box;
}

.empty-cart-notice {
    text-align: center;
    box-sizing: border-box;
    font-family: Gotham Narrow A, Gotham Narrow B, Helvetica, Arial, sans-serif;
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: 1.4em !important;
    line-height: 1.5em !important;
}

.add-favorites {
    text-align: center;
    font-size: 1em !important;
    line-height: 1.5em !important;
    font-family: Gotham Narrow A, Gotham Narrow B, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.cart-shop-now {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 45px;
    padding: 0 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: #e31b23;
    border-color: #e31b23;

    width: 100%;
    box-sizing: border-box;
    display: block;
    border-style: solid;
    text-align: center;
    box-shadow: none;
    outline: none;
}

.flyout-items {
    border-color: #e3e3e3;
    margin: 0;
    border-width: 0 0 1px;
    border-style: solid;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    list-style: none;
}

.flyout-item-list {
    display: flex;
    display: -moz-flex;
    display: flexbox;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin: 0 20px;
    border-width: 0;
    border-style: solid;
    border-color: #eee;
    padding: 20px 0;
    box-sizing: border-box;
    list-style: none;
}

.flyout-media {
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    margin: 0;
    padding: 0;
    width: 90px;
    box-sizing: border-box;
}
.flyout-media img {
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
    min-width: auto;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border: none;
    vertical-align: middle;
}

.flyout-info {
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    display: flex;
    display: -moz-flex;
    display: flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    margin: 0;
    padding: 0 0 0 20px;
    width: calc(100% - 90px);
    box-sizing: border-box;
}

.flyout-info h4 {
    color: #232323;
    margin: 0;
    padding: 0 30px 0 0;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
}

.cart-item-options {
    color: #535353;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 16px;
    font-size: 12px;
    box-sizing: border-box;
}

.cart-item-delete {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
    cursor: pointer;
    padding: 0;
    width: 20px;
    min-width: auto;
    height: 20px;
    min-height: auto;
    line-height: 20px;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 600;
    color: #110303;
}

.fa-trash {
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;

    display: inline-block;
    text-rendering: auto;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-variant: normal;
    font-style: normal;
    box-sizing: border-box;
    margin-left: 3px;
}

.flyout-item-quantity {
    margin: 10px 0 0;
    padding: 0;
    width: 50%;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    margin-top: 15px;
}

.flyout-quantity-widget {
    display: inline-box;
    display: inline-flex;
    display: -moz-inline-flex;
    display: inline-flexbox;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -moz-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #eee;
    padding: 0;
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cart-minus,
.cart-plus {
    color: #232323;
    background: #fff;
    display: block;
    margin: 0;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    width: 36px;
    min-width: auto;
    height: 24px;
    min-height: auto;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
}

.cart-quantity-label {
    color: #232323;
    border-color: #e3e3e3;
    border-width: 0 1px;
    border-style: solid;
    border-color: #eee;
    background: none;
    display: block;
    margin: 0;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    width: 36px;
    min-width: auto;
    height: 24px;
    min-height: auto;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
}

.flyout-item-price {
    margin: 5px 0 0;
    padding: 0;
    width: 50%;
    text-align: right;
    line-height: 16px;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #535353;
}

.cart-items-price-flyout {
    color: #535353;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
