/* .header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    line-height: 32px;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    z-index: 1;
}

.navbar-left {
    flex: 1;
}

.navbar-middle {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    flex: 2;
}

.navbar-right {
    justify-content: center;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    flex: 1;
}

.logo {
    transform: scale(0.85);
    max-height: 105px;
    margin-left: 10px;
    flex-shrink: 0;
    margin-left: 50px;
}

.dropdown {
    padding: 50px;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 3px;
}

.signup-login {
    color: #333;
    text-decoration: none;
}

.login-links {
    font-size: 18px;
    font-weight: lighter;
    color: #202020;
    text-decoration: none;
    margin-right: 25px;
    letter-spacing: 1px;
} */

/* UnderLine Hover Affect */

/* .login-links {
    position: relative;
    text-decoration: none;
}

.login-links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: width 0.1s ease-in-out;
}

.login-links:hover::after {
    width: 100%;
}

.session-wrapper{
    display: flex;
} */

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    font-weight: 600;
    object-fit: contain;
}

.navleft-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    height: 100%;
    width: 80vw;
    overflow: hidden;
}

.navbar-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.navbar-links-container {
    height: 100%;
}

.navbar-ul-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-start;
}
.menu > li {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: -2px;
    padding: 0 8px;
}

.menu li {
    text-align: left;
}

.nav-li  * {
    color: rgba(0,0,0,.9);
    display: inline-block;

    font-weight: 600;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    transition: all .2s ease;
} 

.logo-wrapper {
    width: 64px;
    height: 60px;
}
.logo-wrapper img {
    position: relative;
    margin-right: 10px;
}

.navcart-wrapper{
    width: 20vw;
    overflow: hidden;
}
.navcart-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
