.header-container {
    display: flex;
    flex-direction: column;
}


.nav-bar {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    height: 5%;
    width: 100vw;
    position: sticky;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    line-height: 1;
}

.navbar-left {
    flex: 0.1;
}

.navbar-middle {
    flex: 0.7;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.navbar-right {
    flex: 0.25;
    text-align: right;
}

.logo {
    height: auto;
    width: auto;
    transform: scale(0.55);
    margin-left: 10px;
}

.dropdown {
    display: inline-block;
}

.signup-login {
    color: #333;
    text-decoration: none;
}

.login-links{
    font-family: 'Gotham Narrow', Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
}