.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container {
    padding: 50px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 700px;
    background-color: white;
    box-sizing: border-box;
}

.signin-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    padding: 12px;
    letter-spacing: 0.5px;
}

.signin-descrip {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 20px;
    line-height: 1.5;
    padding: 5px;
}

.login-fields {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    line-height: 1.5;
}

.login-labels {
    width: 100%;
    font-size: 20px;
    font-weight: lighter;
    margin: 10px;
}

.input-field {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 18px;
    font-size: 16px;

    color: #111;
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 12px;
    margin-top: 20px;
    width: 100%;
}
.signup-button {
    border-radius: 0;
    background-color: #e31b23;
    height: 60px;
    width: 100%;
    border: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: filter 0.3s ease, box-shadow 0.3s ease;
}
.signup-button:hover {
    filter: brightness(80%); /* Darken the button */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.create-account-button {
    border-radius: 0;
    border-width: 1px;
    background-color: #ffffffff;
    height: 60px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.create-account-button:hover {
    background-color: black;
    color: white;
}
