.side-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    padding-left: 30px;
}

.product-index-wrapper {
    padding-top: 30px;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    text-align: center;
}

.product-item-wrapper {
    height: 600px;
    width: 31.33%;
    display: flex;
    flex-direction: column;

    margin-bottom: 10%;
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
}

.product-img-container img {
    padding: 5%;
    /* margin-left: 5%; */
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    object-fit: contain;
    mix-blend-mode: darken;
    display: block;
    border: 1px solid lightgrey;
}

.product-index-item-container * {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    text-align: center;
}

.index-name-container {
    letter-spacing: 0.65px;
    text-transform: uppercase;
    font-family: Gotham Narrow A, Gotham Narrow B, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #000000;
}

.index-price-container {
    font-family: Gotham Narrow A, Gotham Narrow B, Helvetica, Arial, sans-serif;
    font-style: normal;
    display: block;
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
    color: #000;
    font-weight: 200;
}

.product-show-wrapper {
    width: 100%;
}

.staravg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3px;
    margin-right: 5px;
}

.review-total {
    font-size: 16px;
    font-weight: 200;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 1px;
    margin-left: 5px;
}
.item-price {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.2em;
}

.item-colors > p {
    padding-top: 10px;
}
