/* .products-wrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
} */
/* .products-wrapper li {
    list-style: none;
} */

.side-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    padding-left: 30px;
}

.product-index-wrapper {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: scroll;
    text-align: center;
}

.product-item-wrapper {
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.product-img-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    mix-blend-mode: darken;
    display: block;
}

.product-index-item-container * {
    padding: 15px;
    letter-spacing: 1px;
}

.index-name-container {
    letter-spacing: 0.65px;
    text-transform: uppercase;
    font-family: Gotham Narrow A, Gotham Narrow B, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #000000;
}

.index-price-container {
    font-family: Gotham Narrow A, Gotham Narrow B, Helvetica, Arial, sans-serif;
    font-style: normal;
    display: block;
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
    color: #000;
    font-weight: 200;
}


.product-show-wrapper{
    width: 100%;
}

.staravg-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3px;
    margin-right: 5px;
}

.review-total{
    font-size: 16px;
    font-weight: 200;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 1px;
    margin-left: 5px;
}
.item-price{
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.2em;
}

.item-colors > p {
    padding-top: 10px;
}